@page "/"
@inject Tauri Tauri

<main class="container">
    <h1>Welcome to Tauri + Blazor</h1>

    <div class="row">
        <a href="https://tauri.app" target="_blank">
            <img src="img/tauri.svg" class="logo tauri" alt="Tauri logo"/>
        </a>
        <a href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor" target="_blank">
            <img src="img/blazor.png" class="logo blazor" alt="Blazor logo"/>
        </a>
    </div>
    <p>Click on the Tauri and Blazor logos to learn more.</p>

    <form class="row" @onsubmit="GreetAsync" @onsubmit:preventDefault="true">
        <input id="greet-input" placeholder="Enter a name..." @bind="GreetInput"/>
        <button type="submit">Greet</button>
    </form>
    <p>@GreetMsg</p>
    <div class="row">
        <button @onclick="ListenEvent">Listen</button>
        <button @onclick="TriggerEvent">Emit</button>
        <button @onclick="UnlistenEvent">Unlisten</button>
    </div>
    <p>@_listenCount</p>
    <p>@_onceCount</p>
</main>

@code
{
    private string? GreetInput { get; set; }

    private string? GreetMsg { get; set; }

    private async Task GreetAsync()
    {
        GreetMsg = await Tauri.Core.Invoke<string>("greet", new { name = GreetInput });
    }


    private async Task ListenEvent()
    {
        _unlistenEvent = await Tauri.Event.Listen("testListen", () =>
        {
            _listenCount++;
            return Task.CompletedTask;
        });
        _unlistenOnce = await Tauri.Event.Once("testOnce", () =>
        {
            _onceCount++;
            return Task.CompletedTask;
        });
    }

    int _listenCount;
    int _onceCount;
    UnlistenFn? _unlistenEvent;
    UnlistenFn? _unlistenOnce;

    private async Task TriggerEvent()
    {
        await Tauri.Event.Emit("testListen");
        await Tauri.Event.Emit("testOnce");
    }

    private async Task UnlistenEvent()
    {
        if (_unlistenEvent != null) await _unlistenEvent.Invoke();
        if (_unlistenOnce != null) await _unlistenOnce.Invoke();
    }
}
