@using TauriApi
@inject Tauri Tauri

<div class="card">
    <input id="greet-input" @bind="_name" placeholder="Enter a name..."/>
    <button type="button" @onclick="GetGreet">Greet</button>
</div>
<p>@_greetMsg</p>

@code {
    private string _greetMsg = "";
    private string _name = "";
    
    private async Task GetGreet()
    {
        _greetMsg =await Tauri.Invoke<string>("greet", new
        {
            name = _name
        });
    }
}