@page "/"

<PageTitle>Welcome</PageTitle>
<div class="container">
    <h1>Welcome to Tauri!</h1>

    <div class="row">
        <a href="https://tauri.app" target="_blank">
            <img src="./assets/tauri.svg" class="logo tauri" alt="Tauri logo"/>
        </a>
        <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor" target="_blank">
            <img src="./assets/blazor.svg" class="logo blazor" alt="Blazor logo"/>
        </a>
    </div>

    <p>Click on the Tauri and Blazor logos to learn more.</p>

    <p>
        Recommended IDE setup:
        <a href="https://code.visualstudio.com/" target="_blank">VS Code</a>
        +
        <a href="https://github.com/tauri-apps/tauri-vscode" target="_blank">
            Tauri
        </a>
        +
        <a href="https://github.com/rust-lang/rust-analyzer" target="_blank">
            rust-analyzer
        </a>
    </p>
    <Greet/>

</div>

@code {

}